* {
    padding:0;
    margin: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.navbar img {
    width: 100px;
}

.navbar__logo {
   width: 100%;
}
    
.button__primary {
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
}

.button__primary:hover {
    
    border: 2px solid #ff6767;
    cursor: pointer;
}

.container {
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.hero__image__container {
    width: 100%;
}

.hero__image {
    width: 100% ;
    border-radius: 6px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.hero__text {
    font-weight: 800;
    font-size: 35px;
    margin: 20px ;
    color:#1d3557;
}

.food__card__description {
    padding: 15px;;
}


.food__card {
    background-color: #F9F9F9;
}

.food__card__image__container {
    width: 100%;
}

.food__image{
    width: 100%;
    border-radius: 8px;
}

.explore__menu__text {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    color: #1d3557;
}


.third_button {
    padding: 15px;
}
.order_text {
    font-size: 24px;
    margin:10px;
    text-align: center;
    font-weight: 800;

}

.reso {
    width: 100%;
    
    
}

.chairs {
    display: flex;
    margin-top:30px;
    gap: 3.5px;
   

}
 .restaurant3{
    width: 1900%;
    margin-bottom: -10px;
    display: flex;
    margin-top: 1px;
 }
    

.restaurant2{
    margin-top: -80px; 
display:flex;
margin-bottom: 2px;
    width: 1600%;

}

.restaurant{
    width:100%;
    
    
}

.new {
    width: 100%;
    display: flex;
    gap: 5px;
}

.restaurant3 {
    margin-bottom: -60px;
    
}

.stayup {
    padding: 20px;
    font-size: 30px;
}

.email {
    padding: 10px;
    width: 100%;
    
}

.up {
    display:flex;
    width: 100%;
}

.inpemail {
    padding: 8px;
    margin: 8px;
    border-radius: 5px;
    border-color: #f98fbf;
    background-color: #fff4f9;
    width: 250px;
}

.happy img{
    border-radius: 10px;
    
}

.happy {
    padding-top: 60px;
    position:relative; 
}

.happy_img {
    position: absolute;
    top: 50%;
    left: 30%;
    color: #ebf2ff;
    text-align:center;
    transform: translate(-30%,-50%);  /*aligns accurately at center*/
    font-weight:600;
    font-size: 25px;
}

.happy stomach {
    position: absolute;
    top: 0px;
    left: 0px;
}

.zomo {
    
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    border-radius: 10px;
     color: #ebf2ff;
     padding: 40px;

}

.zomo h1 {
    text-align: center;
    font-size: 800;
    font-size: 85px;
}


 .lis {
    padding: 30px;
    margin: 10px;
    font-size: 21px;
    font-weight: 800px;
}
@media (min-width: 768px) {

    .explore__menu__list {
        margin-top: 45px;
        display: flex;
        gap: 15px;
     }
     .explore__menu__container {
        position: relative;
     }
     .explore__menu__gradient__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%
        );
        z-index: -3;
        transform: skewY(-5deg);
     }
    #pizza__card {
        margin-top:-20px ;
    margin-bottom: 30px;
    }
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }

    .hero__container {
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}


@media (min-width:1024px){
     .explore__menu__list {
        margin: 45px;
        display: flex;
        gap: 25px;
     }
     .container{
        max-width: 70%;
        
     }
    .navbar__brand {
        width: 150px;
    }
    .button__primary {
        padding:20px;
        font-size: 20px;
        
    }

    .hero__description {
        width: 100%;
    }

    .hero__text {
        font-size: 50px;
    }

    .explore__menu__text {
        font-size: 45px;
    }
}
